* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100vw;
    height: 100vh;
}
/* 以上都是设置了整个页面的宽度 */



#block {
    height: 100% ;
    display:flex;
    flex-direction: column;
    /* 主轴按列排，E order：-1在最上面 */
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    /* justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
/* 谁在最后按谁为主 solid 直线*/
}

.A,
.B,
.C, 
.D,
.E,
.F{
  height: 50px;
  border: 2px solid #000;
  margin: 1px;
  text-align: center;
}

.A {
    align-self: start;
    order: 1;
}

.B {
    width: 200px;
    align-self: end;
    order: 1;
}

.E {
    order: -1;
    background-color: deeppink;
}
/* order只决定前后顺序，默认从0开始左到右，负数排最前但在没有设置class的前提下，还是以class的顺序优先 */